#animal {
  width: 300px;
  height: 100px;
  border: 1px black solid;
}

#dog {
  width: 300px;
  height: 100px;
  border: 1px black solid;
}

#bird {
  width: 300px;
  height: 100px;
  border: 1px black solid;
}
